body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.display{
    display: flex;
    background-image: url(Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.width{
    width: 45%;
    padding: 5%;
    color: rgb(94, 93, 93);
    
    
}
.width img{
    width: 100%;
}
.font-size{
    font-size: 50px;
    color: rgb(94, 93, 93);
    
}
span{
    color:#058EF7;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(blue,cyan);
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 50px;
}
p{
    color: grey;
}
.flex{
    display: flex;
    background-image: url(Frame\ 57.jpg);
    height: 487px;
    background-repeat: no-repeat;
}
.flex img{
    width: 50%;
    margin-left: 100px;

}
#margin-top{
    margin-top: 100px;
}
#color{
    color: black;
}
.center{
    text-align: center;
    margin-top: 50px;
}
.tips{
    display: flex;
}
.box{
    box-shadow: 10px 10px 40px grey;
    margin-left: 5%;
    width: 40%;
    padding: 2%;
    margin-top: 5%;
    border-radius: 10px;

}
.recipies{
    width: 30%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px grey;
    padding: 5px;
    border-radius: 15px;
}
.recipies img{
    width: 93%;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
    
}
.bold{
    font-weight: 900;
    color: rgb(94, 93, 93) ;
    margin-left: 10px;

}
.font-color{
    margin-left: 10px;
    color: black;
}
.top-product{
    display: flex;
    width: 80%;
    margin-top: 150px;
    padding: 5%;
    box-shadow: 10px 10px 30px gray;
    margin: 5%;
    background-image: linear-gradient(blue, cyan);
    border-radius: 10px;

}
.top-product img{
    border-radius: 10px;
    width: 70%;
    margin-left: 50px;
    height: 110%;
}
.top-product p{
    color: black;
}
.order{
    text-decoration: none;
    background-image: linear-gradient(salmon,orange);
    color: black;
    padding: 10px 40px;
    border-radius: 10px;
}
.media-box{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
}
.box-width{
    width: 33%;
    margin-left:10%;
    margin-left: 10%;

}
.box-width h1{
    font-weight: 900;
    font-size: 40px;
}
.footer{
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-top: 70px;
}
.footer h2{
    color: gray;
}